.env
.env - Copy.example
.venv/
__pycache__/
*.egg-info/
*.py[cod]
*.db
*.db-*
.pytest_cache/
local secrate.txt
local secrate/

.env
.venv/
local_secrate/
__pycache__/
.pytest_cache/
*.pyc
*.db
*.db-shm
*.db-wal

.env
.venv/
local_secrate/
__pycache__/
.pytest_cache/
*.pyc
*.db
*.db-shm
*.db-wal
